* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dashboard,
.marketing,
.store,
.customer,
.system,
.service,
.report,
.sale,
.catalogue,
.support {
  display: flex;
  margin-left: 260px;
  font-size: 2rem;
}
